<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultConnection" value="textContactConn"/>
    <add key="connectionType" value="Text"/>
  </appSettings>
    <connectionStrings>
      <add name="textContactConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=contacts.csv;Extended Properties=text;HDR=Yes;FMT=Delimited"/>
      <add name="sqlContactconn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=contacts.xlsx;Extended Properties=Excel 12.0;HDR=YES;IMEX=1"/>
      <add name="textloginConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=login.csv;Extended Properties=text;HDR=Yes;FMT=Delimited"/>
    </connectionStrings>
</configuration>